* {
    -fx-font-family: "Nimbus Sans";
    -fx-main-color: #1976d2;
    -fx-dark-color: #0d47a1;
    -fx-hover-color: #3b85d0;
    -fx-event-color: #e3f2fd;
}

/* --- Loading --- */
#loadingLabel {
    -fx-font-size: 3em;
    -fx-text-fill: white;
}

#loadingRoot {
    -fx-background-color: -fx-main-color;
}

#loadingIcon {
    -fx-icon-color: white;
}

/* --- Root --- */

#titleBar {
    -fx-background-color: -fx-dark-color;
}

#titleBar > Label {
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
}

.VBox {
    -fx-font-size: 1.3em;
    -fx-background-color: -fx-main-color;
    -fx-fill-width: true;
    -fx-alignment: TOP_CENTER;
}

.week-days {
    -fx-background-color: inherit;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-fill-width: true;
    -fx-start-margin: 0;
    -fx-end-margin: 0;
}

.event-holder {
    -fx-content-display: center;
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: white;
    -fx-border-style: solid;
}

.container {
    -fx-background-color: white;
}

.event-main {
    -fx-background-color: -fx-event-color;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-alignment: TOP_CENTER;
    -fx-text-fill: #212121;
    -fx-padding: 5px;
}

.event-time > Label {
    -fx-text-fill: #212121;
    -fx-font-weight: bold;
}

.event-details {
    -fx-background-color: inherit;
    -fx-alignment: TOP_CENTER;
    -fx-end-margin: 5px;
    -fx-start-margin: 5px;
    -fx-padding: 5px 0 5px 0;
}

.event-details > Label {
    -fx-text-alignment: center;
    -fx-text-fill: #212121;
}

.event-location {
    -fx-text-alignment: center;
    -fx-text-fill: #414141;
    -fx-font-weight: bold;
}

.navigationButtons {
    -fx-background-color: -fx-main-color;
}

.navigationButtons:hover {
    -fx-background-color: -fx-hover-color;
}

#toolbar {
    -fx-background-color: #ececec;
}

#settingsButton {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

#settingsButton:hover {
    -fx-background-color: transparent, lightgray;
}

/* --- Settings --- */
.settingButtons {
    -fx-background-color: transparent, lightgray;
}

.settingSectionTitle > Label {
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}

.toggle {
    -jfx-toggle-color: -fx-main-color;
}